<div class="form-container">
  <!-- Cabecera -->
  <div class="form-header">
    <h3>Crear ticket</h3>
    <p>Registre una solicitud con la información necesaria para darle seguimiento.</p>
  </div>

  <!-- Formulario -->
  <form [formGroup]="ticketForm" (ngSubmit)="createTicket()" class="ticket-form">

    <!-- Asunto / TITULO -->
    <div class="form-group full-width">
      <label for="asunto">Asunto</label>
      <input
        id="asunto"
        type="text"
        formControlName="titulo"
        placeholder="¿En qué podemos ayudarte?"
        [class.is-invalid]="ticketForm.controls.titulo.touched && ticketForm.controls.titulo.invalid"
      >
    </div>

    <!-- Categoría -->
    <div class="form-row">
      <div class="form-group half-width">
        <label for="categoria">Categoría</label>
        <select id="categoria" formControlName="categoria_id">
          <option value="0" disabled>
            Todas las categorías
          </option>
          @for (cat of categoriaResource.value(); track cat.id) {
            <option [value]="cat.id">
              {{ cat.name }}
            </option>
          }
        </select>
      </div>
    </div>

    <!-- Descripcion -->
    <div class="form-group full-width">
      <label for="descripcion">Descripción</label>
      <textarea
        id="descripcion"
        formControlName="descripcion"
        rows="4"
        placeholder="Describa el problema o solicitud..."
        [class.is-invalid]="ticketForm.controls.descripcion.touched && ticketForm.controls.descripcion.invalid"
      ></textarea>
    </div>

    <!-- Botones -->
    <div class="form-actions">
      <button type="button" class="btn-cancel" (click)="onCancel()">Cancelar</button>
      <button type="submit" class="btn-primary" [disabled]="ticketForm.invalid">
        <span class="material-symbols-outlined">add</span>
        Crear ticket
      </button>
    </div>
  </form>
</div>

@if (showToast()) {
  <app-toast
    title="¡Ticket creado!"
    message="El ticket se creo correctamente.">
  </app-toast>
}
