<div class="page-container">
  <!-- Cabecera -->
  <div class="page-header">
    <div class="header-text">
      <h2>Todos los tickets</h2>
      <p>Consulta, filtra y administra el inventario total de incidentes del sistema.</p>
    </div>
    <button class="btn-primary" routerLink="/ticket-form">
      <span class="material-symbols-outlined">add</span>
      Nuevo ticket
    </button>
  </div>

  <!-- Herramientas -->
  <div class="toolbar">
    <div class="search-box">
      <span class="material-symbols-outlined search-icon">search</span>
      <input type="text" placeholder="Buscar tickets...">
    </div>

    <div class="filters">

      <!-- Estado -->
      <select class="filter-select" (change)="onEstadoChange($event)">
        <option value="" selected>Todos los estados</option>
        <option value="ABIERTO">Abierto</option>
        <option value="EN_PROGRESO">En Progreso</option>
        <option value="RESUELTO">Resuelto</option>
        <option value="CERRADO">Cerrado</option>
      </select>

      <!-- Prioridad -->
      <select class="filter-select" (change)="onPrioridadChange($event)">
        <option value="" selected>Todas las prioridades</option>
        <option value="BAJA">Baja</option>
        <option value="MEDIA">Media</option>
        <option value="ALTA">Alta</option>
      </select>

    </div>
  </div>

  <!-- Tabla -->
  <div class="table-container">

    <!-- Cargando -->
    @if (ticketResource.isLoading()) {
      <div class="state-message">Cargando tickets...</div>
    }

    <!-- Error -->
    @else if (ticketResource.error()) {
      <div class="state-message error">Hubo un error al cargar los tickets.</div>
    }

    <!-- (Datos listos) -->
    @else {
      <table class="tickets-table">
        <thead>
          <tr>
            <th>TICKET</th>
            <th>SOLICITANTE</th>
            <th>ESTADO</th>
            <th>PRIORIDAD</th>
            <th>FECHA</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- resource -->
          @for (ticket of ticketResource.value(); track ticket.id) {
            <tr>

              <!-- ID y Título -->
              <td>
                <div class="ticket-info">
                  <span class="ticket-id">#{{ ticket.id }}</span>
                  <span class="ticket-title">{{ ticket.titulo }}</span>
                </div>
              </td>

              <!-- Usuario -->
              <td>
                <div class="user-info">
                  <div class="avatar-fallback">{{ getInitials(ticket.descripcion) }}</div>
                  <span class="user-name">{{ ticket.user_fullname }}</span>
                </div>
              </td>

              <!-- Estado -->
              <td>
                <div class="status-badge">
                  <span class="status-dot" [ngClass]="(ticket.estado || '').toLowerCase()"></span>
                  {{ ticket.estado || 'Nuevo' }}
                </div>
              </td>

              <!-- Prioridad -->
              <td>
                <div class="priority-badge">
                  <span class="priority-dot" [ngClass]="(ticket.prioridad || '').toLowerCase()"></span>
                  {{ ticket.prioridad || 'Media' }}
                </div>
              </td>

              <!--Fecha -->
              <td class="date-cell">{{ ticket.fechaCreacion | timeAgo}}</td>

              <!-- Acciones -->
              <td class="actions-cell">
                <button class="btn-icon-text">
                  <span class="material-symbols-outlined">more_horiz</span>
                </button>
              </td>

            </tr>
          } @empty {
            <tr>
              <td colspan="6" class="state-message">No hay tickets registrados que coincidan con los filtros.</td>
            </tr>
          }
        </tbody>
      </table>
    }
  </div>
</div>
